<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group>
        <mat-tab label="Search customer">
          <ng-template mat-tab-label>
            <mat-icon class="mr-1">corporate_fare</mat-icon>
            Search customer
          </ng-template>
          <div class="container mt-3">
            <div class="row">
              <div class="col-md-12">
                <app-customer-search></app-customer-search>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="New customer">
          <ng-template mat-tab-label>
            <mat-icon class="mr-1">add_circle_outline</mat-icon>
            New customer
          </ng-template>
          <div class="container mt-3">
            <div class="row">
              <div class="col-md-12">
                <app-new-customer></app-new-customer>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
